<div class="add-userwrapper">
  <form #portableResourceCreationForm="ngForm" (ngSubmit)="addCreation()">
    <div class="formgroup">
      <p>Resource Name</p>
      <input
        type="text"
        pInputText
        name="resourceName"
        [(ngModel)]="addPortableResourcePayload.resourceName"
        placeholder="Enter Resource Name"
        required
      />
    </div>
    <div class="formgroup">
      <p>Resource Type</p>
      <input
        type="text"
        pInputText
        name="resourceType"
        [(ngModel)]="addPortableResourcePayload.resourceType"
        placeholder="Enter Resource Type"
        required
      />
    </div>
    <div class="formgroup">
      <p>Resource Code</p>
      <input
        type="text"
        pInputText
        name="resourceCode"
        [(ngModel)]="addPortableResourcePayload.resourceCode"
        placeholder="Enter Resource Code"
        required
      />
    </div>
    <div class="formgroup">
      <p>Capacity Unit</p>
      <input
        type="text"
        pInputText
        name="capacityUnit"
        [(ngModel)]="addPortableResourcePayload.capacityUnit"
        placeholder="Enter Capacity Unit"
        required
      />
    </div>
    <div class="formgroup">
      <p>Capacity Quantity</p>
      <input
        type="number"
        pInputText
        name="capacityQuantity"
        [(ngModel)]="addPortableResourcePayload.capacityQuantity"
        placeholder="Enter Capacity Quantity"
        required
      />
    </div>
    <div class="buttonwrap">
      <p-button
        type="submit"
        label="Submit"
        [disabled]="portableResourceCreationForm.form.invalid"
      />
    </div>
  </form>
</div> 