<app-sidebar></app-sidebar>
<app-header></app-header>
<section class="user-main-content">
  <!-- Show Add Process button only for admin users -->
  <div class="add-user-button" *ngIf="isAdmin">
    <p-button (onClick)="openAddProcessPage()" label="Add Process" />
  </div>
  <!-- [disabled]="!moduleAccess.data.addFlag"
      (onClick)="openAddRoleDialog()" -->
  <app-generic-table
    *ngIf="allProcessListData"
    [genericTableColumns]="genericTableColumns"
    [genericTableData]="allProcessListData"
    [entityIdMapping]="entityIdMapping.Process"
    (editEvent)="editParticularData($event)"
    (deleteEvent)="deleteParticularData($event)"
    (assignEvent)="assignProcessData($event)"
    [editButtonStatus]="editButtonStatus"
    [deleteButtonStatus]="deleteButtonStatus"
    [assignButtonStatus]="assignButtonStatus"
  ></app-generic-table>


</section>
