<app-sidebar></app-sidebar>
<app-header></app-header>
<section class="user-main-content">
<div class="parameter-management-container">
  <div class="header">
    <h2>Parameter Management</h2>
    <button pButton type="button" icon="pi pi-plus" label="Add Parameter" (click)="openNewParameterDialog()"></button>
  </div>

  <p-table [value]="parameters" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Parameter Name</th>
        <th>Parameter Type</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-parameter>
      <tr>
        <td>{{parameter.parameter_name}}</td>
        <td>{{getParameterTypeName(parameter.parameter_type_id)}}</td>
        <td>{{parameter.parameter_description}}</td>
        <td>
          <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
          <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No parameters found.</td>
      </tr>
    </ng-template>
  </p-table>      
</div>
</section>