<div class="add-userwrapper">
  <form #materialCreationForm="ngForm" (ngSubmit)="addCreation()">
    <div class="formgroup">
      <p>Product Name</p>
      <input
        type="text"
        pInputText
        name="productName"
        [(ngModel)]="addMaterialPayload.productName"
        placeholder="Enter Product Name"
        required
      />
    </div>
    <div class="formgroup">
      <p>Product Description</p>
      <input
        type="text"
        pInputText
        name="productDesc"
        [(ngModel)]="addMaterialPayload.productDesc"
        placeholder="Enter Product Description"
        required
      />
    </div>
    <div class="formgroup">
      <p>Product Type</p>
      <input
        type="text"
        pInputText
        name="productType"
        [(ngModel)]="addMaterialPayload.productType"
        placeholder="Enter Product Type"
        required
      />
    </div>
    <div class="buttonwrap">
      <p-button
        type="submit"
        label="Submit"
        [disabled]="materialCreationForm.form.invalid"
      />
    </div>
  </form>
</div> 